body { 
    color: #000000; 
    background-color: #ffffff; 
    font-family: arial; 
    font-size: 40px; -webkit-user-select: none; 
}

section { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.courseware-image-slide .courseware-slide-title {
    display: none;
}

.courseware-image-side .courseware-slide-contents {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}