@font-face {
    font-family: PatrickHand;
    src: url('PatrickHand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body { 
    color: #000000; 
    background-color: #ffffff; 
    font-family: arial; 
    font-size: 40px; -webkit-user-select: none; 
}

.courseware-slide { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.courseware-image-slide .courseware-slide-title {
    display: none;
}

.courseware-image-side .courseware-slide-contents {
    display: block;
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.courseware-text-slide {
    font-family: PatrickHand, sans-serif;
    padding: 64px;
}

.courseware-text-slide .courseware-slide-contents {
}
