@font-face {
    font-family: PatrickHand;
    src: url('PatrickHand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body { 
    -webkit-user-select: none;
    color: #000000; 
    background-color: #ffffff; 
    font-family: PatrickHand, sans-serif;
}

.courseware-slide { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    position: relative;
    font-size: 300%;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

.courseware-title-slide h1 {
    position: relative;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
}

.courseware-text-slide .courseware-slide-contents {
    margin: 64px;
}

.courseware-text-slide .courseware-slide-title {
    margin: 64px;
    margin-bottom: 0;
}

.courseware-image-slide .courseware-slide-title {
    display: none;
}

.courseware-image-slide .courseware-slide-contents {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    -moz-background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.courseware-credits-slide ul {
    list-style: none;
    padding: 0;
}

.courseware-credits-slide li {
    list-style: none;
    margin-bottom: 0.75em;
}

.courseware-credits-slide li p {
    margin: 0;
}

.courseware-credits-slide a {
    text-decoration: none;
    color: inherit;
}

pre {
    font-family: Courier-New, monospace;
    font-weight: normal;
}

pre.prettyprint {
    padding: 0.5em;
}


